*
!.gitignore

# Model images
!uploads/
!uploads/models/
!uploads/models/**
!model-photos/
!model-photos/**
!profiles/
!profiles/**

# Blog images
!blogs/
!blogs/**

# Testimonial images
!uploads/testimonials/
!uploads/testimonials/**
